<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887821388369-l7pnt8tcvln3hkn3d1b31oclds7a07sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887821388369-l7pnt8tcvln3hkn3d1b31oclds7a07sr</string>
	<key>API_KEY</key>
	<string>AIzaSyCYj6dDNNv6uKJJ8h_vPxWKXNeMkydJeN0</string>
	<key>GCM_SENDER_ID</key>
	<string>887821388369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayoadesanya.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-ayocodes</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-ayocodes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887821388369:ios:dfcdb718617e461cbf0670</string>
</dict>
</plist>